@font-face {
    font-family: 'GT Walsheim Bold';
	  src: url('./assets/fonts/GT-Walsheim-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akkurat-Mono';
	  src: url('./assets/fonts/akkurat-mono.ttf') format('truetype');
}
@font-face {
    font-family: 'GT Walsheim Light';
	  src: url('./assets/fonts/GT-Walsheim-Light.ttf')  format('truetype');
}
