.page2-title {
  font-family: 'GT Walsheim';
  font-size: 3.5em;
  font-weight: 600;
  color: white;
  text-shadow: 0px 5px #AFC4DC;
  top: 200px;
  margin-bottom: 25px;
}


.arrow2 {
  width: 100%;
  position: absolute;
  bottom: 3%;
  text-align: center;
  margin: 50px 0 0 0;
  color: #fff;
  animation-delay: 3s;
  animation: arrow-bounce 2.5s infinite ease-in-out;
  -webkit-animation: arrow-bounce 2.5s infinite ease-in-out;
  animation-delay: 4s;
}




.page2-t {
  opacity: 0;
  visibility: hidden;
  font-family: 'GT Walsheim';
  font-size: 1em;
  font-weight: 600;
  color: white;
  text-shadow: 0px 5px #AFC4DC;
  top: 200px;
  width: 480px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 0;
}


.page2-t.typewriter {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  border-right: .1em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 20px auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(35, end),
    blink-caret .5s step-end infinite;
}


.blue-rec {
  position: absolute;
  width: 578px;
  height: 393px;
  border: 5px solid #AFC4DC;
  background: none;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Akkurat-Mono';
  font-size: 18px;
  overflow: scroll;
  padding: 20px;
  color: #AFC4DC;
  z-index: 20;
  line-height: 40px;
}

.bit {
  font-family: 'GT Walsheim';
  font-size: 0.4em;
  font-weight: 600;
  color: white;
  text-shadow: 0px 5px #AFC4DC;
  top: 200px;
  width: 600px;
  text-align: justify;
  margin-bottom: 60px;
}

.white-rec {
  width: 578px;
  height: 393px;
  background: white;
  z-index: 10;
}
