
@media all and (max-width: 1199px) {
  .projcaption {
    font-size: 15px;
  }


}
@media all and (max-width: 991px) {
  .arrowright {
    right: 4%;
  }

  .projtitle {
    font-size: 25px;
  }

  .projImg {
    width: 40%;
  }

  .mywork {
    font-size: 35px;
    font-weight: 600;
  }

  .pinkrec {
    border: 4px solid white;
  }

  .rightrec.show {
    margin-left: 10px;
    margin-top: -10px;
  }


  .leftrec.show {
    margin-left: -10px;
    margin-top: 10px;
  }

 }
@media all and (max-width: 768px) {
  .mywork {
    font-size: 35px;
  }

  .middlerec {
    flex-direction: column
  }

  .section {
    min-height: 820px;
  }

  .shy {
    font-size: 1.7em
  }

  .mail {
    font-size: 20px;
  }

  .cj-logo {
    height: 400px;
    margin-top: -250px
  }

  .projtitle {
    height: 50px;
    width: 60%;
    margin: 10px auto;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
  }
  //
  // .rightrec {
  //   margin-left: 20px;
  //   top: 25px;
  //   align-items: center;
  //   justify-content: center;
  // }

  .projcaption {
    width: 60%;
    text-align: justify;
    height: 220px;
    margin: 0 auto;
    font-size: 14px;
  }

  .h1 {
    margin-top: 10px;
  }

  .arrowright {
    right: 3%;
  }

  .pinkrec, .rightrec, .leftrec {
    width: 500px;
    height: 550px;
    border: 4px solid white;
  }

  .name {
    font-size: 40px;
    margin-bottom: 0;
  }

  .svg-cj {
    width: 70%;
    height: 190px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .page2-title {
    font-size: 35px;
    text-shadow: 0px 3px #AFC4DC;
  }

  .page2-t {
    text-shadow: 0px 3px #AFC4DC;
    width: 350px;
    margin-bottom: 40px;
    font-size: 35px;
  }

  .white-rec {
    width: 400px;
    height: 400px;
  }

  .blue-rec {
    width: 400px;
    height: 400px;
    border: 3px solid #AFC4DC;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    overflow: scroll;
    line-height: 24px;
    text-align: justify;
    padding: 40px 55px 40px 40px;
}

  .projImg {
    width: 50%;
    margin: 0px 7%;
    align-self: center;
    margin-bottom: 70px
  }

  .proj-text {
    width: 90%;
    height: 50%;
    margin-top: 30px;
  }

  .imgcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }



}
@media all and (max-width: 575px) {


.arrow2, .arrow3 {
  display: none;
}

.mywork {
  margin-bottom: 20px;
}

.proj-text {
  margin: 0 auto;
  height: 40%;
}

.arrowright {
  display: none;
}

.arrowrightsmall {
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  z-index: 111111;
}

.arrowsmall {
  height: 35px;
}

.middlerec {
  align-items: center;
  padding: 5px;
}

.cj-logo {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 300px;
  height: 320px;
  margin-top: -160px;
  margin-left: -150px;
}

.title {
  margin-top: 10px;
}

.name {
  font-size: 35px;
}

.arrow1 {
  bottom: 10%
}

.section {
  padding: 0;
}

.projImg {
  width: auto;
  height: 130px;
  margin: 30px auto 10px auto;
}

.projtitle {
  width: 90%;
  height: 50px;
  font-size: 20px;
  top: 30px;
  margin: 10px auto 0px;
}

.projcaption {
  width: 85%;
  height: 150px;
  text-align: justify;
  font-size: 12px;
  overflow: scroll;
  line-height: 18px;
  margin: 10px auto;
}

.arrowright {
  top: 150px;
  margin: 0 auto;
  color: white;
  left: 12px;
}

.mail {
  width: 250px;
  font-size: 16px
}

.email {
  width: 250px;
  height: 40px;
  margin: 0 auto;
}
.whiterec {
  height: 540px;
}
//
.white-rec {
  width: 260px;
  height: 380px;
}

.pinkrec, .rightrec, .leftrec {
  width: 280px;
  border: 2px solid white;
  height: 500px;
}


.imgcont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blue-rec {
  width: 260px;
  height: 380px;
  line-height: 20px;
  font-size: 14px;
  padding: 20px 35px 20px 20px;
}

.page2-t {
  font-size: 25px;
  text-shadow: 0px 3px #AFC4DC;
  width: 350px;
  margin-bottom: 40px;
}

.page2-t {
  text-shadow: 0px 3px #AFC4DC;
  width: 260px;
  margin-bottom: 40px;
}

.shy {
  font-size: 25px;
  text-shadow: 0px 3px #ffacbd;
}

}
